.login {
  margin-top: 8vh;
  min-height: 82vh;
  width: 98.6vw;
  font-size: 1.3rem;
}

.login-container {
  width: 25vw;
  height: 60vh;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border: 1px solid var(--black-color);
  box-shadow: 2px 2px 2px var(--black-color);
  position: relative;
}

.login-heading {
  font-size: 2.3rem;
  font-weight: 600;
  margin: 1.5rem 0 2rem 0;
}

.login-contents {
  width: 18vw;
  height: 58vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-contents label {
  font-size: 1rem;
  font-weight: 600;
}

.login-contents input {
  height: 3.5vh;
  padding: 1rem;
}

.btn-login {
  border: none;
  padding: 10px;
  margin: 1.5rem 0 3rem 0;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
}

.btn-login:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.check {
  display: flex;
  align-items: center;
}

label.checkbox-label {
  margin-left: 1rem;
}

.error-msg {
  position: absolute;
  bottom: 1rem;
  left: 5rem;
  color: var(--darkRed-color);
  font-size: 70%;
}

/********** mobile mode *********/

@media only screen and (max-width: 800px) {
  .login-container {
    width: 40vw;
  }

  .login-contents {
    width: 36vw;
  }
}

@media only screen and (max-width: 500px) {
  .login-container {
    width: 80vw;
  }

  .login-contents {
    width: 60vw;
  }
}
