.home-page {
  min-height: 90vh;
  width: 100vw;
}

.container {
  margin-top: 10vh;
  width: 100vw;
  display: flex;
}

.home-container {
  width: 82vw;
  margin-left: 18vw;
  min-height: 90vh;
}

.map-container {
  width: 55vw;
  min-height: 45vh;
  border: 1px solid var(--black-color);
  margin-bottom: 5rem;
}

.all-maps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookmark {
  margin-top: 5rem;
}
