.search-container {
  background-color: var(--primary-color);
  height: 12vh;
  width: 100%;
  margin-bottom: 10vh;
}

.searchArea input {
  width: 38vw;
  height: 1.8rem;
  border: none;
  background-color: var(--whitesmoke-color);
  padding: 1rem;
}

.search {
  position: relative;
}

.suggestions {
  width: 38vw;
  min-height: 1.8rem;
  position: absolute;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.suggested-restaurant {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.suggested-restaurant:hover {
  background-color: var(--hover-color);
}
